@media screen and (max-width: 1680px) {
  header {
    left: 5%;
  }

  header .header_sns li {
    margin: 0 1px;
  }

  #contentsWrap {
    width: 70%;
    margin-right: 5%;
  }

  .commonTit__content {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 1300px) {
  header {
    width: 25%;
    left: 0%;
  }

  #contentsWrap {
    width: 70%;
    margin-right: 5%;
  }

  .commonTit__content {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1024px) {
  header {
    left: -100%;
    width: 40%;
  }

  #header.open {
    left: 0;
  }

  #contentsWrap {
    width: 90%;
    margin-right: 5%;
    padding-left: 0%;
  }

  .mobileIcon {
    display: flex;
    cursor: pointer;
  }

  .mobileTimes {
    display: flex;
    cursor: pointer;
  }

  header img {
    margin-top: 30px;
  }
}

@media screen and (max-width: 740px) {
  header {
    left: -100%;
    width: 60%;
  }

  #header.open {
    left: 0;
  }

  header h1 {
    padding: 0;
  }

  .header_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #header img {
    width: 100px;
    height: 100px;
    margin-top: 40px;
  }

  header nav li a {
    padding: 20px;
  }

  .mobileIcon {
    display: flex;
    cursor: pointer;
  }

  .mobileTimes {
    display: flex;
    cursor: pointer;
  }

  .commonTit__left {
    flex-direction: column;
    align-items: center;
  }

  .commonTit__pic,
  .commonTit__content {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  header {
    left: -100%;
    width: 70%;
  }

  #header.open {
    left: 0;
  }

  header h1 {
    padding: 0;
  }

  .header_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #header img {
    width: 100px;
    height: 100px;
    margin-top: 40px;
  }

  header nav li a {
    padding: 20px;
  }

  .mobileIcon {
    display: flex;
    cursor: pointer;
  }

  .mobileTimes {
    display: flex;
    cursor: pointer;
  }

  .wiga__contents .wiga__content-first {
    display: block;
  }

  .wiga__contents .wiga__content {
    width: 100%;
    margin: 2px auto;
  }
}
