/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/* reset Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #111;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
}

/* general style */
body {
  font-family: "Lato", sans-serif;
}

.clear::after {
  display: block;
  clear: both;
  content: "";
}

h1 {
  color: white;
  font-size: 1.5em;
}

h3 {
  color: white;
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
}

/* 공통 */
.commonTit {
  width: 100%;
  color: white;
}

.commonTit h2 {
  font-size: 2rem;
  font-weight: 700;
}

.line {
  display: inline-block;
  width: 60px;
  height: 3px;
  border-top: 2px solid #a43f49;
}

/* wrap style */
.wrap {
  width: 100%;
  height: auto;
  background: url(../images/page-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

/* mobile icon style */
.mobileIcon {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #fff;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a43f49;
  font-size: 20px;
  display: none;
  z-index: 999;
}

.mobileTimes {
  position: absolute;
  width: 100%;
  height: 50px;
  background: #fff;
  top: 0;
  left: 0;
  color: #a43f49;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

/**************
 header style
 **************/
header {
  width: 20%;
  height: 100vh;
  min-height: 768px;
  position: fixed;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: #a43f49;
  color: white;
  transition: all 0.3s;
  z-index: 999;
  /* padding: 10% 0 10% 0; */
}

header img {
  border-radius: 50%;
  overflow: hidden;
}

header nav {
  width: 100%;
  font-weight: 700;
}

header h1 {
  padding-top: 30px;
}

header nav {
  width: 100%;
  height: auto;
}

header nav li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid white;
  background: #a43f49;
}

header nav li:last-child {
  border-bottom: 2px solid white;
}

header nav li a {
  display: block;
  color: white;
  width: 100%;
  padding: 30px;
  transition: all 300ms;
}

header nav li a:hover {
  background: white;
  color: #a43f49;
}

/* sns style */
header .header_sns {
  width: 100%;
  height: auto;
  text-align: center;
}

header .header_sns li {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #70262d;
  margin: 0 5px;
}

header .header_sns li a {
  color: white;
  height: 100%;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
}

header .header_sns li a:hover {
  background-color: white;
  color: #70262d;
}

.header_cr {
  width: 100%;
  padding: 30px 40px;
  border-top: 1px solid #9b5d63;
}

.header_cr span {
  font-size: 0.8rem;
}

.mobileIcon,
.mobileTimes {
  display: none;
}

/**************
 end header style
 **************/

/**************
 start contents wrapper style
 **************/

#contentsWrap {
  width: 60%;
  height: auto;
  float: right;
  margin-right: 10%;
  padding-left: 5%;
}

#contentsWrap .about {
  width: 100%;
  height: auto;
  text-align: center;
}

.commonTit {
  padding: 5% 5% 0 5%;
}

/* picture */
.commonTit__left {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.commonTit__pic {
  width: 50%;
  margin: 10px;
}

.commonTit__left img {
  width: 100%;
  border-radius: 10px;
}

.commonTit__content {
  width: 50%;
  text-align: left;
  padding: 40px 20px;
}

.commonTit__content h1 {
  margin-bottom: 20px;
}

.commonTit__content p {
  color: white;
  line-height: 1.5;
}

.commonTit__content button,
form button {
  width: 120px;
  height: 50px;
  text-transform: uppercase;
  color: #a43f49;
  font-weight: 700;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  transition: all 300ms;
  outline: none;
}
.commonTit__content button:hover,
form button:hover {
  background: #a43f49;
  color: white;
}

.commonTit__left {
  padding: 50px 0;
  border-bottom: 2px solid gray;
}

/* wiga content  */

.wiga__contents {
  padding: 50px 0;
}

.wiga__contents .wiga__content-first {
  display: flex;
}

.wiga__contents .wiga__content {
  width: 50%;
  height: auto;
  text-align: left;
  padding: 3rem;
  margin: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  transition: all 300ms;
}

.wiga__content-img1 {
  width: 70px;
  height: 70px;
  background: url(../images/first-white-icon.png) no-repeat;
}

.wiga__content-img2 {
  width: 70px;
  height: 70px;
  background: url(../images/second-white-icon.png) no-repeat;
}

.wiga__content-img3 {
  width: 70px;
  height: 70px;
  background: url(../images/third-white-icon.png) no-repeat;
}

.wiga__content-img4 {
  width: 70px;
  height: 70px;
  background: url(../images/fourth-white-icon.png) no-repeat;
}

.wiga__contents .wiga__content p {
  color: white;
  margin-top: 10px;
}

.wiga__contents .wiga__content:hover .wiga__content-img1 {
  background: url(../images/first-main-icon.png) no-repeat;
}

.wiga__contents .wiga__content:hover .wiga__content-img2 {
  background: url(../images/second-main-icon.png) no-repeat;
}

.wiga__contents .wiga__content:hover .wiga__content-img3 {
  background: url(../images/third-main-icon.png) no-repeat;
}

.wiga__contents .wiga__content:hover .wiga__content-img4 {
  background: url(../images/fourth-main-icon.png) no-repeat;
}

.wiga__contents .wiga__content:hover {
  background: white;
}

.wiga__contents .wiga__content:hover h1,
.wiga__contents .wiga__content:hover p {
  color: black;
}

.wiga__contents {
  border-bottom: 2px solid gray;
}

/* work contents */

.work__contents {
  margin-top: 30px;
}

.work__contents button {
  border: none;
  background: transparent;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 5px;
  cursor: pointer;
  padding-bottom: 3px;
  outline: 0;
}

.work__contents button.active {
  color: #a43f49;
  border-bottom: 2px solid #a43f49;
}

.work__contents-panel {
  width: 100%;
  height: auto;
  margin: 20px 0;
  padding-bottom: 80px;
  border-bottom: 3px solid rgba(250, 250, 250, 0.25);
}

.work__imgs {
  width: 30%;
  height: auto;
  float: left;
  margin: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  position: relative;
  /* perspective: 700px; */
}

.work__contents-panel img {
  width: 100%;
  border-radius: 5px;
}

.work__contents-panel .work__imgs .hoverBox {
  display: block;
  width: 90%;
  height: 80%;
  background: rgba(255, 255, 255, 0.7);
  left: 5%;
  top: 5%;
  position: absolute;
  border-radius: 5px;
  transition: all 0.4s;
  transform: rotateX(-90deg);
  opacity: 0;
}

.work__contents-panel .work__imgs .hoverContents {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(50px);
  transition: all 0.4s;
  opacity: 0;
}

.work__imgs .hoverContents .fa {
  display: inline-block;
  /* 이거 지워주기 */
  width: 30px;
  height: 30px;
  background: #a43f49;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.work__imgs .hoverContents h1 {
  color: black;
  padding: 10px 0 5px;
}

.work__imgs .hoverContents p {
  font-size: 0.8rem;
  font-style: italic;
  color: gray;
}

.work__contents-panel .work__imgs:hover .hoverBox {
  transform: rotateX(0deg);
  opacity: 1;
}

.work__contents-panel .work__imgs:hover .hoverContents {
  transform: translateY(0);
  opacity: 1;
}

/* contact me section */
.contact {
  width: 100%;
  height: auto;
}

form {
  width: 100%;
  height: auto;
  margin-top: 30px;
  padding-bottom: 100px;
}

.contact_form {
  width: 100%;
  height: auto;
}

.contact_form p {
  width: 50%;
  float: left;
}

.contact p {
  padding-bottom: 20px;
}

.contact_form p:first-child {
  padding-right: 10px;
}

.contact_form p:last-child {
  padding-left: 10px;
}

input {
  width: 100%;
  height: 50px;
  outline: none;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  color: white;
}

textarea {
  width: 100%;
  height: 300px;
  padding: 20px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  color: white;
}
