/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/* reset Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #111;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
}

/* general style */
body {
  font-family: "Lato", sans-serif;
}

.clear::after {
  display: block;
  clear: both;
  content: "";
}

h1 {
  color: white;
  font-size: 1.5em;
}

h3 {
  color: white;
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
}

/* 공통 */
.commonTit {
  width: 100%;
  color: white;
}

.commonTit h2 {
  font-size: 2rem;
  font-weight: 700;
}

.line {
  display: inline-block;
  width: 60px;
  height: 3px;
  border-top: 2px solid #a43f49;
}

/* wrap style */
.wrap {
  width: 100%;
  height: auto;
  background: url(../images/page-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

/* mobile icon style */
.mobileIcon {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #fff;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a43f49;
  font-size: 20px;
  display: none;
}

.mobileTimes {
  position: absolute;
  width: 100%;
  height: 50px;
  background: #fff;
  top: 0;
  left: 0;
  color: #a43f49;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

/**************
 header style
 **************/
header {
  width: 20%;
  height: 100vh;
  min-height: 768px;
  position: fixed;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: #a43f49;
  color: white;
  transition: all 0.3s;
  /* padding: 10% 0 10% 0; */
}

header img {
  border-radius: 50%;
  overflow: hidden;
}

header nav {
  width: 100%;
  font-weight: 700;
}

header h1 {
  padding-top: 30px;
}

header nav {
  width: 100%;
  height: auto;
}

header nav li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid white;
  background: #a43f49;
}

header nav li:last-child {
  border-bottom: 2px solid white;
}

header nav li a {
  display: block;
  color: white;
  width: 100%;
  padding: 30px;
  transition: all 300ms;
}

header nav li a:hover {
  background: white;
  color: #a43f49;
}

/* sns style */
header .header_sns {
  width: 100%;
  height: auto;
  text-align: center;
}

header .header_sns li {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #70262d;
  margin: 0 5px;
}

header .header_sns li a {
  color: white;
  height: 100%;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
}

header .header_sns li a:hover {
  background-color: white;
  color: #70262d;
}

.header_cr {
  width: 100%;
  padding: 30px 40px;
  border-top: 1px solid #9b5d63;
}

.header_cr span {
  font-size: 0.8rem;
}

.mobileIcon,
.mobileTimes {
  display: none;
}

/**************
 end header style
 **************/

/**************
 start contents wrapper style
 **************/

#contentsWrap {
  width: 60%;
  height: auto;
  float: right;
  margin-right: 10%;
  padding-left: 5%;
}

#contentsWrap .about {
  width: 100%;
  height: auto;
  text-align: center;
}

.commonTit {
  padding: 5% 5% 0 5%;
}

/* picture */
.commonTit__left {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.commonTit__pic {
  width: 50%;
  margin: 10px;
}

.commonTit__left img {
  width: 100%;
  border-radius: 10px;
}

.commonTit__content {
  width: 50%;
  text-align: left;
  padding: 40px 20px;
}

.commonTit__content h1 {
  margin-bottom: 20px;
}

.commonTit__content p {
  color: white;
  line-height: 1.5;
}

.commonTit__content button {
  width: 120px;
  height: 50px;
  text-transform: uppercase;
  color: #a43f49;
  font-weight: 700;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  transition: all 300ms;
}
.commonTit__content button:hover {
  background: #a43f49;
  color: white;
}

.commonTit__left {
  padding: 50px 0;
  border-bottom: 2px solid gray;
}

/* wiga content  */

.wiga__contents {
  padding: 50px 0;
}

.wiga__contents .wiga__content-first {
  display: flex;
}

.wiga__contents .wiga__content {
  width: 50%;
  height: auto;
  text-align: left;
  padding: 3rem;
  margin: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  transition: all 300ms;
}

.wiga__content-img1 {
  width: 70px;
  height: 70px;
  background: url(../images/first-white-icon.png) no-repeat;
}

.wiga__content-img2 {
  width: 70px;
  height: 70px;
  background: url(../images/second-white-icon.png) no-repeat;
}

.wiga__content-img3 {
  width: 70px;
  height: 70px;
  background: url(../images/third-white-icon.png) no-repeat;
}

.wiga__content-img4 {
  width: 70px;
  height: 70px;
  background: url(../images/fourth-white-icon.png) no-repeat;
}

.wiga__contents .wiga__content p {
  color: white;
  margin-top: 10px;
}

.wiga__contents .wiga__content:hover .wiga__content-img1 {
  background: url(../images/first-main-icon.png) no-repeat;
}

.wiga__contents .wiga__content:hover .wiga__content-img2 {
  background: url(../images/second-main-icon.png) no-repeat;
}

.wiga__contents .wiga__content:hover .wiga__content-img3 {
  background: url(../images/third-main-icon.png) no-repeat;
}

.wiga__contents .wiga__content:hover .wiga__content-img4 {
  background: url(../images/fourth-main-icon.png) no-repeat;
}

.wiga__contents .wiga__content:hover {
  background: white;
}

.wiga__contents .wiga__content:hover h1,
.wiga__contents .wiga__content:hover p {
  color: black;
}

.wiga__contents {
  border-bottom: 2px solid gray;
}
